[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
django-bootstrap-v5 = "*"
sklearn = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
